{% extends "layout.html" %}

{% block title %}Add event{% endblock %}

{% block content %}

<form method="POST">
  {% for field in form %}
    <div class="field">
      <label class="label">{{ field.label() }}</label>
      <div class="control">
        {{ field(class="input") }}
      </div>
      {% if field.description %}
        <p class="help">
            {{field.description}}
        </p>
      {% endif %}
      {% if field.errors %}
        <p class="help is-danger">
          {% for error in field.errors %}
            {{ error|e }}<br/>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endfor %}


  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary" type="submit">Create</button>
    </div>
  </div>
</form>
{% endblock %}
