{% extends "layout.html" %}

{% block title %}Managing {{event.name}}{% endblock %}

{% block content %}
<div class="tabs">
  <ul>
    <li class="is-active"><a href="{{url_for('.details', event_slug=event.slug)}}">Details</a></li>
    <li><a href="{{url_for('.numbers', event_slug=event.slug)}}">Numbers</a></li>
    <li><a href="{{url_for('.organizers', event_slug=event.slug)}}">Organizers</a></li>
  </ul>
</div>

<form method="POST">
  {% for field in form %}
    <div class="field">
      <label class="label">{{ field.label() }}</label>
      <div class="control">
        {{ field(class="input") }}
      </div>
      {% if field.description %}
        <p class="help">
            {{field.description}}
        </p>
      {% endif %}
      {% if field.errors %}
        <p class="help is-danger">
          {% for error in field.errors %}
            {{ error|e }}<br/>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endfor %}


  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary" type="submit">Save</button>
    </div>
  </div>
</form>
{% endblock %}
