{% extends "layout.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Event</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{event.name}}</td>
      <td class="has-text-right">
        <a class="button is-primary" href="{{url_for('.details', event_slug=event.slug)}}">Manage</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
