{% extends "layout.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}
{% include "nav.html" %}
{% endblock %}

{% block extra_sections %}
{% if event.primary_number %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your hotline is active. ✨
      </h1>
      <h2 class="subtitle">
        Your hotline's number is <strong>{{event.primary_number}}</strong>.
      </h2>
      <p>
        You may release your event's number if you no longer need it or need
        another one. <br><strong>This is irreversible! You will likely not get the same number if you request a new one.</strong>
      </p>
      <p>
        <a class="button is-danger" href="{{url_for('.release', event_slug=event.slug)}}">Release number</a>
      </p>
    </div>
  </div>
</section>
{% else %}
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your hotline doesn't yet have a number!
      </h1>
      <h2 class="subtitle">
        You'll need to acquire a number before your attendees can use the hotline.
      </h2>
      <p>
        We'll assign you a number automatically. Keep in mind these are not free, so please don't abuse this system.
      </p>
      <p>
        <a class="button is-success" href="{{url_for('.acquire', event_slug=event.slug)}}">Acquire number</a>
      </p>
    </div>
  </div>
</section>
{% endif %}

<section class="section">
  <div class="container">
    <h2 class="title">Hotline members</h2>
    <h3 class="subtitle">These people are contacted when a person calls or texts the hotline.</h3>
    <table class="table is-fullwidth is-striped is-hoverable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Verified</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
        <tr>
          <td>{{member.name|e}}</td>
          <td>{{member.number|e}}</td>
          <th>{{member.verified}}</th>
          <th class="has-text-right">
            <a class="button is-danger" href="{{url_for('.remove_member', event_slug=event.slug, member_id=member.id)}}">Remove</a>
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">Add member</h2>
    <h3 class="subtitle">Members must verify their number before the hotline will contact them.</h3>

    <form method="POST" action="{{url_for('.add_member', event_slug=event.slug)}}">
      {% for field in form %}
        <div class="field">
          <label class="label">{{ field.label() }}</label>
          <div class="control">
            {{ field(class="input") }}
          </div>
          {% if field.description %}
            <p class="help">
                {{field.description}}
            </p>
          {% endif %}
          {% if field.errors %}
            <p class="help is-danger">
              {% for error in field.errors %}
                {{ error|e }}<br/>
              {% endfor %}
            </p>
          {% endif %}
        </div>
      {% endfor %}


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}
