{% extends "admin-layout.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}
{% include "events/nav.html" %}

<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>When</th>
      <th>Number</th>
      <th>Blocked by</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for blocked in blocklist %}
    <tr>
      <td>{{blocked.timestamp.isoformat()}}</td>
      <td>{{blocked.number[-4:]}}</td>
      <td>{{blocked.blocked_by}}</td>
      <td class="has-text-right">
        <a class="button is-warning" href="{{url_for('.unblock', event_slug=event.slug, blocklist_id=blocked.id)}}">Unblock</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
