{% extends "admin-layout.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}
{% include "events/nav.html" %}

<form method="POST" action="{{url_for(request.endpoint, event_slug=event.slug)}}">
  {{csrf_field()}}

  {% for field in form %}
    <div class="field">
      <label class="label">{{ field.label() }}</label>
      <div class="control">
        {{ field(class="input") }}
      </div>
      {% if field.description %}
        <p class="help">
            {{field.description|safe}}
        </p>
      {% endif %}
      {% if field.errors %}
        <p class="help is-danger">
          {% for error in field.errors %}
            {{ error|e }}<br/>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endfor %}


  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary" type="submit">Save</button>
    </div>
  </div>
</form>
{% endblock %}
