{% extends "admin-layout.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}
{% include "events/nav.html" %}

<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>When</th>
      <th>Kind</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{log.timestamp|htmldate}}</td>
      <td>{{Kind(log.kind).name.replace("_", " ")|title}}</td>
      <td>{{log.description}}</td>
      <td class="has-text-right">
        {% if log.reporter_number: %}
          <a class="button is-danger" href="{{url_for('.block', event_slug=event.slug, log_id=log.id)}}">Block</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
