{% extends "admin-layout.html" %}

{% block title %}Numbers{% endblock %}

{% block content %}
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Number</th>
      <th>Country</th>
      <th>Event</th>
      <th>Pool</th>
      <th>Features</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for number in numbers %}
    <tr>
      <td>{{number.number}}</td>
      <td>{{number.country}}</td>
      <td>
        {% if number.event %}
          <a href="{{url_for('events.info', event_slug=number.event.slug)}}">
            {{number.event.name}}
          </a>
        {% endif %}
      </td>
      <td>
        {{NumberPool(number.pool).name.replace("_", " ")|title}}
      </td>
      <td>
        {{number.features}}
      </td>
      <td class="has-text-right">
        <a class="button is-primary" href="{{url_for('.details', number=number.number)}}">Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="container">
  <form method="post" action="{{url_for('.rent')}}">
    {{csrf_field()}}
    <div class="field">
      <label class="label" for="country">Country</label>
      <input class="input" type="text" name="country" required/>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" name="pool" value="{{NumberPool.EVENT.value}}" class="button is-primary">Rent new event number</button>
      </div>
      <div class="control">
        <button type="submit" name="pool" value="{{NumberPool.SMS_RELAY.value}}" class="button is-link">Rent new SMS relay number</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
