<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FirebaseUI -->
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <!-- Firebase Auth script -->
    <script src="{{ url_for('static', filename='cookie.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='auth.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
      <div id="firebaseui-auth-container"></div>
      <div id="logged-in" data-next-url="{{next}}">You have been logged in and will get redirectly shortly.</div>
  </body>
</html>
